body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 50px auto;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

th {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

td {
    padding: 10px 0;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[name="login"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[name="login"]:hover {
    background-color: #45a049;
}
